
Multiples of 3 and 5/main.java

Even Fibonacci numbers/main.java

Largest palindrome product/main.java

Largest prime factor/main.java

Smallest multiple/main.java

Sum square difference/main.java

10001st prime/main.java

Largest product in a series/main.java

Special Pythagorean triplet/main.java

Summation of primes/main.java
